# Java y Spring Boot
bin/
build/
.gradle/
.settings/
.metadata/
*.class

# IDEs
.idea/
*.iml
.vscode/
.project
.classpath
.factorypath

# Seguridad y Configuración (¡NO SUBIR TOKENS!)
src/main/resources/application.properties
.env

# Logs
*.log

# Persistencia Local (Excluido de Git)
persistencia/

# Sistema
Thumbs.db
.DS_Store
